@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hamburger Menu */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
  }
  
  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #000;
    transform: rotate(0);
    transition: all 0.5s;
  }
  
  .hamburger-middle {
    transform: translateY(7px);
  }
  
  .hamburger-bottom {
    transform: translateY(14px);
  }
  
  .open {
    transform: rotate(90deg);
    transform: translateY(0px);
  }
  
  .open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
  }
  
  .open .hamburger-middle {
    display: none;
  }
  
  .open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
  }




/*........... Border..... */
.container4{
  display: grid;
  align-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
}
.card-container{
  /* display: grid;
  row-gap: 3.5rem; */

display: flex;
flex-direction: row;
flex-wrap: wrap;
}

.card-article{
position: relative;
padding: 20px;

}
.card--imag{
  width: 328px;
  border-radius: 3px;
}

.card--data{
  width: 280px;
  background-color: aliceblue;
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0,0%,0%, .15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s ;
}

.card--description{
display: block;
font-size: small;
margin-bottom: .25rem;

}

.card--title{
font-size: 20px;
font-weight: 500;
color: #ff7f50;
margin-bottom: .75rem;
}

.card--button{
text-decoration: none;
font-size: small;
font-weight: 500;
color: blue;
}
.card--button:hover{
  text-decoration: underline;

}

.card-article:hover .card--data{
animation: show-data 1s forwards;
opacity: 1;
transition: opacity .3s;
}
.card-article:hover{
 animation: remove-overflow 2s forwards; 
}

.card-article:not(:hover) {
  animation: show-overflow 2s forwards; 
}

.card-article:not(:hover) .card--data{
  animation: show-remove-data 1s forwards; 
}








@keyframes show-data{
  50%{
    transform: translateY(-10rem);
  }
  100%{
    transform: translateY(-7rem);
  }
}
@keyframes remove-overflow{
  to{
    overflow: initial;
  }
}


@keyframes remove-data{
  0%{
    transform: translateY(-7rem);
  }
  50%{
    transform: translateY(-10rem);
  }
  100%{
    transform: translateY(.5rem);
  }
}

@keyframes show-overflow{
  0%{
    overflow: initial;
    pointer-events: none;
  }
  50%{
    overflow: hidden;
  }
}

/* .............................media screens */


@media screen and (max-width:340px){
  .container4{
    margin-inline:1rem; 
  }

.card--data{
  width: 250px;
  padding: 10px;

}

}

@media screen and (min-width:768px){
  .card--container{
    grid-template-columns: repeat(2,1fr);
    column-gap: 1.5rem;
  }
}


@media screen and (min-width:1120px){
  .container4{
    height: 100vh;
  }

  .card--container{
    grid-template-columns: repeat(2,1fr);
  }
}









  /* ..........about anime .........*/
  
  
  /* text animation */
  
  .animated-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
  }
  
  .animated-text span{
    position: relative;
  }
  
  .animated-text span::before{
   content: "Youtuber";
    color: #ff7f50;
    animation: words 20s infinite;
  }
  
  
  .animated-text span::after{
    content: " ";
   position: absolute;
   width: calc(100 +8px);
   height: 100%;
   background-color:white;
   border-left: 2px solid #ff7f50;
   right: -8px;
   animation: cursor .8s infinite, typing 20s steps(14) infinite;
  }
  
  
  @keyframes cursor {
    to{
      border-left: 2px solid white;
    }
  }
  @keyframes words {
    0%,20%{
      content: " FrontendDeveloper";
    }
    21%,40%{
      content: "WebDesigner";
    }
    41%,60%{
      content: "Freelancer";
    }
    61%,80%{
      content: "Developer";
    }
    81%,100%{
      content: "Designer";
    }
  }
  @keyframes typing{
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
    width: 0;
  }
  5%,20%,25%,40%,45%,60%,65%,80%,85%{
    width: calc(100% + 8px );
  }
  }
  
  
  
  .db{
    width: 120px;
  height: 120px;
  border:2px solid #ff7f50;
  border-radius: 100%;
  position: absolute;
  border-left: none;
  border-bottom: none;
  border-right: none;
  z-index: -1;
  
  }
  .font{
    width: 115px;
    height: 115px;
    border:2px solid #ff7f50;
    border-radius: 100%;
    position: absolute;
    padding-left: 60%;
    border-left: none;
    border-right: none;
    border-top: none;
    z-index: -1;
  }
  .tat{
    width: 115px;
    height: 115px;
    border:2px solid #ff7f50;
    border-radius: 100%;
    position: absolute;
    border-right: none;
    border-bottom: none;
    z-index: -1;
  }
  .chats{
    width: 120px;
    height: 120px;
    border:2px solid #ff7f50;
    border-radius: 50%;
    position: absolute;
    border-right: none;
    border-bottom: none;
    z-index: -1;
    
  }
  
  
  
  







  